.navbar{
    background-color: white;
    width: 100%;
}
.spacer{
    flex: 1 1 auto;
}
.sizeIcon{
    font-size: 20px;
}
.logo{
    width: 100px;
    margin-left: 2vw;
}
.menug{
    margin-left: 3vw;
    width: 20px;
}
.search{
    width: 46vw;
    margin-left: 9.6vw;
    margin-right: 9vw;
    background-color: transparent;
    transform: translateX(-32px);
}
.search input{
    width: 100%;
    background-color: transparent;
    border: 0.5px solid darkgray;
    box-shadow: none;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    padding: 10px;

}
.search button{
    border: none;
    color: white;
   /* padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;*/
    cursor: pointer;
    background-color: #e7e7e7;
    width: 8%;
    height: 50px;
    margin-left: 1vw;
    transform: translateY(2px);
}
.search img{
    width: 45%;
}