<mat-toolbar class="navbarg">
   
        <div style="margin-top: 3vw; height: 21px;">
          
            <div>
                <a style="transform: translateX(3px);"><img src="../../../assets/img/icon-home.png"><span>Home</span> </a>
                <a ><img src="../../../assets/img/icon-trand.png"><span style="margin-left: 32px;">Trending</span> </a>
                <a><img src="../../../assets/img/icon-sub.png"><span>Subscriptions</span> </a>           
            </div>
    
            <div>
                    <a style="transform: translateX(-6px);"><img src="../../../assets/img/icon-lib.png"><span>Library</span> </a>
                    <a ><img src="../../../assets/img/icon-hist.png"><span>History</span> </a>
                    <a><img src="../../../assets/img/icon-watch.png"><span>Watch later</span> </a>  
                    <a><img src="../../../assets/img/icon-like.png"><span>Liked videos</span> </a>          
            </div>
    
            <div>
                <h2>MORE FOR YOUTUBE</h2>
                    <a><img src="../../../assets/img/icon-gaming.png"><span>Gamming</span> </a>
                    <a ><img src="../../../assets/img/icon-live.png"><span>Live</span> </a>         
            </div>
    
            <div>
                    <a><img src="../../../assets/img/icon-par.png"><span>Settings</span> </a>
                    <a ><img src="../../../assets/img/icon-repo.png"><span>Report History</span> </a>
                    <a><img src="../../../assets/img/icon-help.png"><span>Help</span> </a>  
                    <a><img src="../../../assets/img/icon-send.png"><span>Send feedback</span> </a>          
            </div>
    
            <p class="footer">
                <a>About</a>
                <a>Press</a>
                <a>Copyright</a>
            </p>
    
            <p class="footer">
                <a>Contact us</a>
                <a>Creator</a>
            </p>
    
            <p class="footer">
                <a>Advertise</a>
                <a>Developers</a>
            </p>
            
            <p class="footer" style="margin-top: 2vw;">
                    <a>Terms</a>
                    <a>Privacy</a>
                    <a>Policy &#38; Safety</a>
                            
            </p>
            <p class="footer">
                    <a>Test new features</a>
            </p>
            
            
       
        </div> 
         
    </mat-toolbar>