<div class="all">
<div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel" style="margin-left: 15vw;transform: translateY(4vw);">
        <ol class="carousel-indicators ml-1">
                <li *ngFor="let c of onemovie; let i=index"  data-target="#carouselExampleIndicators" data-slide-to="i" class="active"></li>
                <li *ngFor="let c of moviewithoutone ;let i=index"  data-target="#carouselExampleIndicators" data-slide-to="i+1"></li>
        </ol>
    <div class="carousel-inner" >
      <div class="carousel-item active" *ngFor="let c of onemovie"  (click)="OpenMovie(c.id);">
          <img src={{getImage(c.poster_path)}} class="d-block" alt="..." style="width: 70vw; height: 500px;">
          
      </div>
      <div class="carousel-item" *ngFor="let c of moviewithoutone" (click)="OpenMovie(c.id);">
        <img src={{getImage(c.poster_path)}} class="d-block" alt="..." style="width: 70vw; height: 500px;" >       
    </div>     
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="transform: translateX(-13vw);">
            <span class="carousel-control-next-icon" aria-hidden="true" ></span>
            <span class="sr-only">Next</span>
    </a>
</div>
</div>