<mat-toolbar color="primary" class="mat-elevation-z6">
  <span><mat-icon>eco</mat-icon> My App</span> 

  <div class="spacer"></div>
  <a mat-button href="/"><mat-icon class="sizeIcon">home</mat-icon> Home</a>
  <a mat-button routerLink="/exo1"><mat-icon class="sizeIcon">watch_later</mat-icon>Montre Analogique</a>
  <a mat-button routerLink="/exo2"><mat-icon class="sizeIcon">movie</mat-icon> Cinéma</a>
  <a mat-button routerLink="/exo3"><mat-icon class="sizeIcon">menu</mat-icon>Tool Bar</a>
  <a mat-button routerLink="/exo4"><mat-icon class="sizeIcon">watch</mat-icon>Montre Digitale</a>
  <a mat-button color="exo4" routerLink="/exo5"><mat-icon class="sizeIcon">chrome_reader_mode</mat-icon>Maquette</a>

</mat-toolbar>

<router-outlet></router-outlet>
