<mat-toolbar  class="mat-elevation-z6" style="color: red">
        <span><mat-icon>eco</mat-icon> My App</span> 
     
        <div class="spacer"></div>
        <a mat-button routerLink="/exo3/home"><mat-icon class="sizeIcon">home</mat-icon> Home</a>
        <a mat-button routerLink="/exo3/services"><mat-icon class="sizeIcon">open_in_browser</mat-icon> Services</a>
        <a mat-button routerLink="/exo3/projects"><mat-icon class="sizeIcon">folder_special</mat-icon> Projects</a>
        <a mat-button routerLink="/exo3/aboutus"><mat-icon class="sizeIcon">info</mat-icon> About Us</a>
        <a mat-raised-button color="accent" routerLink="/exo3/signup"><mat-icon class="sizeIcon">person_add</mat-icon> Sign up</a>
     
</mat-toolbar>
     