.all{
  display: flex;
  justify-content: center;
  /*min-height: 100vh;*/
  height: 41.1vw;
  background-image: linear-gradient(
      to right,
      rgba(253, 186, 40, 0.342),
      rgba(0, 17, 255, 0.315)
    ),
    url('../../../assets/img/heure1.jpg');

  background-size: cover;
  overflow: hidden;
}
.timer{
    margin-top: 8vw;
  }
  .timer h2 {
      position: relative;
      display: block;
      color: #fff;
      text-align: center;
      margin: 40px 0;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.4em;
      font-size: 2em;
    }
    
    .timer .time {
      display: flex;
    }
    
    .timer .time div {
      position: relative;
      margin: 0 5px;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    }
    
    .timer .time div span {
      position: relative;
      display: block;
      width: 150px;
      height: 120px;
      background: #000407;
      color: #fff;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      z-index: 10;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }
    
    .timer .time div span:nth-child(2) {
      height: 30px;
      font-size: 0.7em;
      letter-spacing: 0.2em;
      font-weight: 500;
      z-index: 9;
      box-shadow: none;
      background: #1f2224;
      text-transform: uppercase;
    }
    
    .timer .time div:last-child span {
      background: #ff0000;
    }
    
    .timer .time div:last-child span:nth-child(2) {
      background: #ff0000;
    }
    
    #hour #minutes #seconds{
      font-family: 'Orbitron', sans-serif;
    }
    